
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Layout/HomeLayout.cshtml";
}

<section class="about_section layout_padding" style="background-color: white; color: black;">
    <div class="container  ">

        <div class="row">
            <div class="col-md-4">
                <div class="img-box">
                    <img src="@Url.Content("~/Image/about-img.png")" alt="">
                </div>
            </div>
            <div class="col-md-8">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2 style="font-family: 'Dancing Script', cursive;">
                            We Are HUTECH FOOD
                        </h2>
                    </div>
                    <p>
                        Do you love fast food? Do you love crunchy foods? So why not quickly order your favorite dishes here. Come to FUTECH FOOD
                    </p>
                    @*<a href="">
                        Read More
                    </a>*@
                </div>
            </div>
        </div>
    </div>
</section>
